body{
    color: white;
}

.container{
    background: url('/assets/132439055-hip-hip-hooray-neon-text-vector-design-template-hip-hip-hooray-neon-logo-light-banner-design.webp') center center/cover;
    background-color: rgba(255, 255, 255, 0.185);
    display: flex;
    padding: 91px;
}

.left{
    background-color: rgba(0, 0, 0, 0.351);
    margin: 5px;
    border: 2px solid transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    font-size: 30px;
}

.right{
    margin: 5px;
    border: 2px solid transparent;
    border-radius: 10px;
}

.right img{
    height: 300px;
    width: 300px;
}

#claimBtn{
    margin: 30px;
}

.footer{
    color: black   ;
    display: flex;
    align-items: center;
    flex-direction: column;
}
